:root {
  --color60: rgb(39 39 42);
  --color30: rgb(113 113 122);
  --color10: rgb(234 88 12);
  --textColor: rgb(209 213 219);
}

body {
  color: var(--textColor);
  background-color: var(--color60);
  height: 100vh;
}
header{
  margin-bottom: 100px
}
.navBarOptions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 200;
  margin-top: 100px;
}
.navBarOptions li {
  font-size: 1.5em;
  margin: 0 1em 0 1em;
  padding: .2em;
  border-bottom: 1.5px var(--textColor) solid;
  transition: all 150ms ease-out;
}
.navBarOptions li:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border-bottom: 0;
  scale: 120%;
  color: var(--color10);
}
h1{
  text-align: center;
  width:fit-content;
  margin: auto;
  margin-bottom: 20px
}
.upcoming-game-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color30);
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}
.team-card{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-radius: 5px; 
}
.team-card img{
  width: 55%;
  margin: auto;
}
.team-card p{
  width: 100%;
  text-align: center;
}
.upcoming-game-details{
  text-align: center;
  width: 100%;
}
.next-stadium{
  text-align: center;
  width: 100%
}