:root {
  --color60: rgb(39 39 42);
  --color30: rgb(113 113 122);
  --color10: rgb(234 88 12);
  --textColor: rgb(209 213 219);
  --transition: all 250ms ease-in-out;
  --margin-bottom: 10px;
  --padding: 10px;
  --border-radius5: 5px;
  --border-radius10: 10px
}

* {
  transition: var(--transition);
  flex-shrink: 1;
}

.hidden {
  display: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--textColor);
  background-color: var(--color60);
  height: 100vh;
  transition: all 200ms linear;
}

.company-logo {
  display: none;
  position: absolute;
  left: -200px;
  top: -200px;
  margin: 0;
  rotate: 45deg;
  width: 100%;
  max-width: 600px;
  z-index: -1;
  opacity: 20%;

}

header {
  margin-bottom: calc(var(--margin-bottom) * 2);
  margin-top: var(--margin-bottom)
}

nav {
  width: 80%;
  margin: auto
}

.navBarOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 0 200;
  margin: auto;
  width: 100%;
  gap: 10px;
  margin-bottom: var(--margin-bottom);
}

.navBarOptions li a {
  font-size: 30px;
  padding: var(--padding);
  border-radius: var(--border-radius5);
  text-decoration: none;
  color: var(--textColor);
  font-weight: bolder;

}

.navBarOptions li a:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border-bottom: 0;
  scale: 120%;
  color: var(--color10);
  box-shadow: inset 160px 0 0 var(--textColor)
}

.navBarOptions li:active {
  transform: translateX(5px);
}

.navigation-button {
  border: 0;
  outline: 0;
  background-color: var(--color10);
  height: fit-content;
  color: var(--textColor);
  margin: auto 0;
  padding: var(--padding);
  border-radius: var(--border-radius10);
  cursor: pointer;
}

.navigation-button:active {
  transform: translateX(5px);
}

.navigation-button:first-of-type:active {
  transform: translateX(-5px);
}

h1 {
  text-decoration: underline black;
  font-size: 30px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: var(--margin-bottom)
}

.upcoming-game-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color30);
  width: 80%;
  margin: auto;
  padding: var(--padding);
  border-radius: 5px;
  margin-bottom: var(--margin-bottom);
}

.upcoming-game-section>.team-card:nth-child(4) {
  margin-bottom: var(--margin-bottom);
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: var(--color60);
  width: 100%;
  font-weight: bolder;
  font-size: 26px;
  /* border-top: 4px solid var(--color10); */
  border-bottom: 4px solid var(--color10);
  /* margin-bottom: var(--margin-bottom); */
}

.team-card img {
  width: 50%;
  margin: auto;
}

.team-card p {
  width: 100%;
  text-align: center;
  margin: 0;
}

.team-card .home-label,
.team-card .away-label {
  color: var(--textColor);
  position: relative;
  rotate: 90deg;
  right: 12px;
  text-align: start;
  width: 0;
  height: fit-content;
  font-size: 45px;
  letter-spacing: -3px;
  text-shadow: var(--color10) 2px 2px;
}

.home-label {
  top: -20px
}

.away-label {
  top: -20px
}

.team-card .team-name {
  padding: var(--padding);
  width: 100%;
  margin: auto;
  border-radius: 5px;
  /* background-color: var(--color30); */
}

.team-card .team-record {
  padding: var(--padding);
  border-radius: 5px;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  background-color: var(--color60);
  width: 100%;
  /* font-weight: bolder; */
  font-size: 20px;
  /* border-top: 4px solid var(--color10); */
  border-bottom: 4px solid var(--color10);
  margin-top: var(--margin-bottom);
}

.event-details>p {
  width: 50%;
  margin: auto;
  /* margin-top: 10px; */
  color: var(--textColor);
  border-radius: 5%;
  padding: var(--padding);
}

.event-details a {
  cursor: pointer;
  width: 100%;
  color: var(--textColor);
  padding: var(--padding);
  width: 50%;
  margin: auto;
}

body>main>section>div.upcoming-game-section>div.event-details>p.detail-label {
  color: var(--textColor);
  padding: 0;
  margin: 0;
  position: relative;
  rotate: 90deg;
  right: 15px;
  top: -20px;
  text-align: start;
  width: 0;
  font-weight: bolder;
  height: fit-content;
  font-size: 45px;
  letter-spacing: -3px;
  text-shadow: var(--color10) 2px 2px;
}

.news-section {
  border: 2px solid var(--color30);
  width: 80%;
  margin: auto;
  /* margin-bottom: var(--margin-bottom); */
  padding: calc(var(--padding) - 2px);
  border-radius: var(--border-radius5);
}

.news-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-bottom);
  /* background-color: var(--color30); */
  padding: var(--padding);
  border-radius: 5px;
  margin-bottom: calc(var(--margin) + 10px);
  text-align: center;
}

.news-section h2 {
  text-align: center;
  font-size: 38px;
  text-decoration: underline black
}


.news-section h3 {
  width: 80%;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 25px;
  word-spacing: -.5px;
  margin: 0;
  word-break: keep-all;
}

.news-section p {
  margin: 0;
  padding: var(--padding);
  line-height: 30px;
}

.news-section a {
  color: var(--color10);
  cursor: pointer;
  /* margin-bottom: var(--margin-bottom); */
}

.team-list-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
  background-color: var(--color30);
  width: 80%;
  padding: var(--padding);
  border-radius: 5px;
  margin: auto;
  align-content: start;
  height: fit-content;
  min-height: 70vh;
}

.team-list-section h2 {
  text-decoration: underline black;
  font-size: 30px;
  text-align: center;
  width: fit-content;
  margin: 0;
  height: fit-content;
  margin-bottom: var(--margin-bottom)
}

.team-list-section form {
  width: 100%
}

.team-list-section a {
  width: 42%;
  border-radius: 5px;
  text-align: center;
  padding: var(--padding);
  background-color: var(--color60);
  margin-bottom: var(--margin-bottom);
  /* text-decoration: none; */
  color: var(--textColor)
}

.team-list-section div img {
  width: 40%;
}

.team-list-section div h3 {
  margin: 0;
}

.team-search-form {
  width: 100%;
  text-align: center;
}

.team-search-form input {
  width: 93%;
  padding: var(--padding);
  border-radius: var(--border-radius5);
  margin-bottom: var(--margin-bottom);
  text-align: center;
  border: 0;
}

.team-search-form input:focus {
  outline: 2px solid var(--color10);
}

::placeholder {
  text-align: center;
}
@media (max-width: 1042px) {
.news-section h2.active::after {
  content: "\2716";
  position: relative;
  left: 90px;
} 
}
@media (min-width: 700px) {
  .navBarOptions {
    justify-content: start;
  }

  .navBarOptions li {
    font-size: 50px;
  }

  .upcoming-game-section {
    justify-content: space-between;
  }
  

  .team-list-section h2 {
    width: 100%
  }

  .team-card {
    width: 49%;
    height: fit-content;
  }

  .team-list-section a {
    width: 46%
  }

  /* .team-search-form input{
    width: 50%
  } */
}

@media (min-width: 1042px) {
  body {
    max-width: 1142px;
    margin: auto;
  }

  .company-logo {
    display: block;
  }

  nav {
    width: 100%
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main section:first-of-type {
    width: 60%
  }

  .upcoming-game-section {
    align-content: start;
    width: 100%;
    margin: 0;
    height: fit-content
  }

  .news-section {
    width: 100%;
  }

  .team-list-section {
    width: 30%;
    margin: 0;
    min-height: fit-content;
  }

  .team-list-section a {
    width: 43%
  }
}