:root {
  --color60: rgb(39 39 42);
  --color30: rgb(171, 171, 177);
  --color10: rgb(234 88 12);
}
html {
  display: flex;
  justify-content: center;
}
body {
  background-color: var(--color60);
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  margin: 20px;
  text-align: center;
  font-size: 100px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.main-form {
  width: 95%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-input {
  min-width: 200px;
  min-height: 55px;
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
  font-weight: 600;
  border: 0px;
  margin: 10px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
}

.search-btn {
  align-items: center;
  background-color: var(--color10);
  border: 0;
  border-radius: 30px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  margin: 10px;
  max-width: 480px;
  height: 58px;
  min-width: 100px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #16437e;
  color: #ffffff;
}

.search-btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.search-btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

main h2 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.suggested-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /*change to 150px after editing head to head container*/
  flex-wrap: wrap;
}

.suggested-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  border: 5px solid var(--color10);
  border-radius: 30px;
  background-color: var();
}

.suggested-image-box img {
  max-width: 100%;
  max-height: 100%;
}

.inner-outer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.head-to-head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  min-width: 370px;
  width: 90%;
  margin: 5px;
  margin-bottom: 10px;
  border: 5px solid var(--color10);
  border-radius: 30px;
  flex-wrap: wrap;
}

.head-to-head-inner-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  height: 150px;
  min-width: 360px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.head-to-head-img {
  border-radius: 30px;
  margin: -10px;
  min-width: 160px;
  height: 160px;
}
.in-between-vs {
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
  height: 60px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.head-to-head-img img {
  width: 70%;
  height: 70%;
}

.game-info {
  margin: 10px;
  font-size: 40px;
  text-align: center;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.game-info p {
  margin: 10px;
}

.starting-roster-container {
  margin: 4px;
  text-align: center;
  min-width: 370px;
  height: 400px;
  max-height: 100%;
  border: 5px solid var(--color10);
  border-radius: 30px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.team-roster-h2 {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.player-roster-li {
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--color30);
}

#current-date{
  margin: 10px;
  font-size: 30px;
}