:root {
  --color60: rgb(39 39 42);
  --color30: rgb(171, 171, 177);
  --color10: rgb(234 88 12);
}
html {
  display: flex;
  justify-content: center;
}
body {
  background-color: var(--color60);
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  margin: 20px;
  text-align: center;
  font-size: 100px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}


main h2 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}



.suggested-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /*change to 150px after editing head to head container*/
  flex-wrap: wrap;
}

.suggested-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  border: 5px solid var(--color10);
  border-radius: 30px;
  background-color: var();
}

.suggested-image-box img {
  max-width: 100%;
  max-height: 100%;
}


.head-to-head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  min-width: 370px;
  width: 90%;
  margin: 5px;
  margin-bottom: 10px;
  border: 5px solid var(--color10);
  border-radius: 30px;
  flex-wrap: wrap;
}


.head-to-head-img {
  border-radius: 30px;
  margin: -10px;
  min-width: 160px;
  height: 160px;
}

.head-to-head-img img {
  width: 300px;
  height: 300px;
}

.game-info {
  
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  margin: 10px;
  font-size: 35px;
  text-align: center;
  align-items: center;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}


.gam-info p {
  margin: 10px;
}

.game-info a {
  margin: 10px;
}

.team-card-info{
display: flex;
justify-content: flex-end;
}


.starting-roster-container {
  margin: 4px;
  text-align: center;
  min-width: 370px;

  max-height: 100%;
  border: 5px solid var(--color10);
  border-radius: 30px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color30);
}

.team-roster-h2 {
  margin: 10px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.player-roster-li {
  list-style: none;
}

a{
  color: var(--color30);
}

#current-date{
  margin: 10px;
  font-size: 30px;
}
.coach-name{
  margin: 0;
  text-decoration: underline;
  font-size: 30px;
}

#coach-name-p{
  margin: 0;
  font-size: 25px;
}

#offense-roster p {
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}

#offense-roster h3{ 
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
}

#defense-roster{
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}

#defense-roster h3{ 
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
}

#special-teams-roster{
  font-size: 30px;
  text-decoration: underline;
  margin: 10px;
}

#special-teams-roster h3{ 
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
  
}